click~=7.1.2
good~=0.0.8
imageio<=2.4.1
matplotlib
moviepy<1.0.0
numpy~=1.19.4
opencv-python~=4.4.0.44
pims~=0.5
PyOpenGL
pyquaternion~=0.9.9
pyyaml~=5.3.1
recordclass~=0.14.3
scikit-image
scikit-learn~=0.23.2
scipy
sortednp~=0.3.0
transforms3d~=0.3.1

Pillow~=7.2.0